
<div>
    <form #form="ngForm">
        <label>Id</label>
        <input name="id" [ngModel]="item?.id">
        <label>Name</label>
        <input name="name" [ngModel]="item?.name">
        {{ form.value | json }}
 
        Active <input type="checkbox" name="active" [ngModel]="item?.active" (ngModelChange)="chekInClick($event)">
        <input type="number" name="date" [ngModel]="item?.date" *ngIf="form.value.active">
        <!-- <select name="state" [ngModel]="item?.state">
            <option *ngFor="let state of states" [value]="state.key" [selected]="state.key === item?.state" >{{state.value}}</option>
        </select>  -->

        <select name="state" [ngModel]="item?.state">
            <option *ngFor="let state of states" [ngValue]="state.key" >{{state.value}}</option>
        </select> 

    </form> 
</div>
